.container {
  padding: 10px 12px;
  background: #fff;
  margin-bottom: 10px;
}
.produt-tool {
  margin-bottom: 12px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
